.navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: calc(var(--navbar-height) - 10px);
	background-color: var(--color-white);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid var(--color-light-grey);
	padding: 15px 0;
	z-index: 100;
}

.navItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--font-size-xs);
	color: var(--color-grey);
	background: none;
	border: none;
	padding: 0;
}

.navItem:focus {
	outline: none;
}

.navItem .icon {
	font-size: 1.5rem;
}

.label {
	font-size: var(--font-size-xs);
}

.active {
	color: var(--color-blue);
	font-weight: var(--font-weight-medium);
}