.card {
	display: flex;
	gap: var(--spacing-s);
	padding: var(--spacing-s);
}

.column {
  	flex-direction: column;
}

.row {
	flex-direction: row;
	align-items: center;
}

.card img {
	border-radius: var(--border-radius);
	object-fit: cover;
	max-height: 150px;
	width: 100%;
}

.card.row img {
	max-width: 115px;
	height: 100%;
}

.description {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.bottomButton {
	margin-top: var(--spacing-l);
}