.descriptionSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-l);
}

.avatar {
	height: 40vh;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	object-fit: cover;
}

.descriptionWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-inline: var(--padding-page-x);
}

.userPoints {
	background-color: var(--color-yellow);
	padding: .5rem;
	border-radius: var(--border-radius);
	height: fit-content;
}

.addOfferContainer {
	position: fixed;
	padding-inline: var(--padding-page-x);
	width: 100%;
	bottom: 1.5rem;
}

.addOfferButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 100%;
	padding: .75rem;
	color: var(--color-white);
	background-color: var(--color-blue);
	border-radius: var(--border-radius-button);
}

.offers {
	margin-bottom: calc(1.5rem + .75rem * 2 + 2rem);
}