:root {
	/* Fonts */
	--font-family: 'Inter', sans-serif;

	/* Font weights */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Font sizes */
	--font-size-s: .75rem;
	--font-size-m: .875rem;
	--font-size-base: 1rem;
	--font-size-l: 1.3rem;
	--font-size-xl: 1.6rem;

	/* Colors */
	--color-blue: rgb(17, 23, 41, 1);
	--color-grey: rgb(17, 23, 41, .8);
	--color-light-grey: rgb(17, 23, 41, .2);
	--color-white: rgb(255, 255, 255, 1);

	/* Spacings */
	--spacing-xs: .35rem;
	--spacing-s: .75rem;
	--spacing-m: 1rem;
	--spacing-l: 1.25rem;
	--spacing-xl: 2.5rem;

	/* Paddings */
	--padding-page-x: 1rem;
	--padding-page-y: 1.5rem;

	/* Navbar */
	--navbar-height: 80px;

	/* Borders */
	--border-radius: 15px;
	--border-radius-circle: 50%;
}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
	:root {

	}
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
	:root {

	}
}

#app {
	display: flex;
	flex-direction: column;
	padding: calc(var(--padding-page-y) * 1.25) 0 var(--padding-page-y) 0;
	gap: var(--spacing-xl);
}

body {
	margin: 0;
	font-family: --apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
	font-size: var(--font-size-base);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	margin: 0;
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-semibold);
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.border {
	border: 1px solid var(--color-light-grey);
	border-radius: var(--border-radius);
}

.center {
	display: flex;
	align-items: center;
}

.inline-flex {
	display: inline-flex;
	gap: var(--spacing-s);	
}

.column-flex {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-m);	
}

.primary {
	background-color: var(--color-blue);
	border-radius: var(--border-radius);
	color: var(--color-white);
	padding: 0;
}

.primary.big {
	padding: var(--spacing-s) var(--spacing-l);
}

.primary.medium {
	padding: var(--spacing-s) var(--spacing-l);
}

.primary.small {
	padding: var(--spacing-xs) var(--spacing-s);
}

.circle {
	background-color: var(--color-light-grey);
	border-radius: var(--border-radius-circle);
	color: var(--color-blue);
	padding: 0;
}

.circle.big {
	padding: var(--spacing-l);
}

.circle.medium {
	padding: var(--spacing-s);
}

.circle.small {
	padding: var(--spacing-xs);
}